# Ignore Python virtual environments
venv/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore environment files
.env
.venv
# Ignore VSCode settings (optional)
.vscode/ 